<!doctype html>
<html class="no-js">
<head>
    <title><%= title %></title>
</head>
<body>
    <div id="test1">loading......</div>
    <div id="test2">loading......</div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bigpipe.js"></script>
    <script>
        var bigpipe=new Bigpipe();
        bigpipe.ready('pagelet1',function(data){
            $("#test1").html(data.is);
        })
        bigpipe.ready('pagelet2',function(data){
            $("#test2").html("test2 ready" + (data) );
        })
    </script>
</body>
</html>